<!DOCTYPE html>
<html>
<head>
	<title>stories</title>
</head>
<body>




	
	<%@stories.each do |story| %>
	<img src="assets/sightwords1.jpg"> 
	<%=link_to('Start Reading', story_path(story)) %>
	<%=puts story.inspect %>
	
	<%end %>




</body>
</html>