<<!DOCTYPE html>
<html>
<head>
	<title>stories</title>
</head>
<body>



<img src="assets/sightwords1.jpg">
<button type="button">
	<%=link_to('Start Reading', story_path) %>
</button>

</body>
</html>