<!DOCTYPE html>
<html>
<head>
	<title>stories</title>
</head>
<body>



<!-- <img src="assets/sightwords1.jpg"> 
<button type="button"> -->
	
	<% @stories.each do |story| %>
	<img src="assets/sightwords1.jpg"> 
	<%=link_to('Start Reading', story_path(story)) %>
	<%=puts story.inspect %>
	
	<%end %>
<!-- </button> -->



</body>
</html>