<!doctype html>
<html>
  <head>

    <meta charset="utf-8" />
    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: Times;
        font-size: 16px;
        overflow: hidden;
      }
      body {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: #012717; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #012717 0%, #143 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#012717), color-stop(100%,#143)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #012717 0%,#143 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012717', endColorstr='#143',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -ms-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
      #myBook {
        left: 600px;
        top: 50px;
        -webkit-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -moz-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -ms-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -o-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        text-align: center;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
      }
      #myBook .book > div:first-child {
        -webkit-transform: rotateY(-150deg);
        -moz-transform: rotateY(-150deg);
        -ms-transform: rotateY(-150deg);
        -o-transform: rotateY(-150deg);
        transform: rotateY(-150deg);
      }
      .book, .book > div {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
      }
      .book > div {
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
      }
      /* Front of a page */
      .book > div > div:first-child {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        width: 400px;
        height: 600px;
        position: absolute;
        overflow: hidden;
        -webkit-transform: translate3d(0px, 0px, 0.02px);
        -moz-transform: translate3d(0px, 0px, 0.02px);
        -ms-transform: translate3d(0px, 0px, 0.02px);
        -o-transform: translate3d(0px, 0px, 0.02px);
        transform: translate3d(0px, 0px, 0.02px);
        padding: 30px;
        padding-left: 40px;
        padding-bottom: 80px;
        border-left: 2px solid #000;
      }
      /* Back of a page */
      .book > div > div:last-child {
        background-color: white;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        width: 400px;
        height: 600px;
        position: absolute;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        overflow: hidden;
        padding: 30px;
        padding-right: 40px;
        padding-bottom: 80px;
        border-right: 2px solid #000;
      }
      /* covers */
      .book > div:first-child > div:first-child, .book > div:last-child > div:last-child {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #8C9CCC 0%, #080f40 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8C9CCC), color-stop(100%,#080f40)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* IE10+ */
        background: linear-gradient(135deg,  #8C9CCC 0%,#080f40 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C9CCC', endColorstr='#080f40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: #000;
        border: 2px solid #000;
        margin-left: -1px;
        margin-top: -1px;
      }
      h1 {
        margin-top: 200px;
        font-family: Cochin, sans-serif;
      }
      .book-pages p {
        text-align: left;
      }
    </style>

  </head>
  <body>

    <div id="myBook">
      <div class="book">

        <div>
          <div>
            <h1>Level 1 Sight Words</h1>
          </div>
          <div>
            <h1>By Edgar Allan P</h1>
          </div>
        </div>
        
        <div>
          <div>
            <h1>2012 Bogus HTML Hipster Publishing Inc.</h1>
            <h2>Copy-pasted from <a href="http://www.gutenberg.org/ebooks/2148">Project Gutenberg</a></h2>
          </div>
          <div>
            <p>This page intentionally left blank.</p>
          </div>
        </div>

        <div>
          <div class="book-pages">
<h2>
    A DESCENT INTO THE MAELSTRÖM.
</h2>
<p>
<div id="2">
 nose
</div>
</p>

<p>
<div id="3">
  boy
</div>
</p>

<p>
<div id="4">
  girl
</div>
</p>

<p>
<div id="5">
  hello
</div>

</div>
<div class="book-pages">
<h1>To be continued...</h1>
</div>
</div>

      </div>
    </div>

    <script type="text/javascript" src="assets/stories.js">
    </script>

  </body>
</html>




 


<!-- <p id="word">
	<% @story.phrases(:order).each do |phrase| %>
<div id="#{phrase.id}">
	"#{phrase.text}"
</div>
<% end %>
</p>
<div class="nose">
	<h3> Nose </h3>
</div>

<div class="eyes">
 <h3> Eyes </h3>
</div>

<div class="ears">
<h3> Ears </h3>
</div>

<div class="boy">
	<h3> Boy </h3>
</div>
</p> -->


<input id="text">
<button onclick="talk()">Talk It!</button>
<button onclick="listen()">Voice</button>
<br/>
<p id="status" style="color: red"></p>
<script src="../bower_components/platform/platform.js"></script>
<script src="../build/webspeech.min.js"></script>
<script>
	var speaker = new RobotSpeaker();
    var listener = new AudioListener();
	
   var speaker; 
	try{
		speaker	= new RobotSpeaker();
	}
	catch(ex){
		speaker = null;
		document.getElementById("status").innerHTML = ex;
	}
    var listener; 
	try{
		listener = new AudioListener();
	}
	catch(ex){
		listener = null;
		document.getElementById("status").innerHTML = ex;
	}
	
    function talk() {
		if(speaker){
			speaker.speak("en", document.getElementById("text").value);
		}
    }

    var test = 2;

    function listen() {
		if(listener){
			listener.listen("en", function(text) {
        document.getElementById("2").value = innerHTML;
				document.getElementById("text").value = text;
        if (test == text) {
          alert ("Great Job Steph!");
        };

			});
		}
    }


    // var listener;
    //  listener = :attempted_phrase
    //   function  read 
    //   	while :attempted_phrase == :phrase
    //   	 	flash[:notice]= "great job"
    //   }
    
</script>



    <script type="text/javascript" src="/stories.js">
    </script>

  </body>
</html>