<!doctype html>
<html>
  <head>

    <meta charset="utf-8" />
    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: Times;
        font-size: 16px;
        overflow: hidden;
      }

      body {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: #012717; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #012717 0%, #143 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#012717), color-stop(100%,#143)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #012717 0%,#143 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #012717 0%,#143 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012717', endColorstr='#143',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -ms-perspective: 800px;
        -o-perspective: 800px;
        perspective: 800px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      #myBook {
        left: 600px;
        top: 50px;
        -webkit-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -moz-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -ms-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        -o-transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        transform: rotate3d(-1.8, -1.0, 0.6, 20deg);
        text-align: center;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
      }

      #myBook .book > div:first-child {
        -webkit-transform: rotateY(-150deg);
        -moz-transform: rotateY(-150deg);
        -ms-transform: rotateY(-150deg);
        -o-transform: rotateY(-150deg);
        transform: rotateY(-150deg);
      }

      .book, .book > div {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
      }

      .book > div {
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        transition: 1s ease-in-out;
      }

      /* Front of a page */
      .book > div > div:first-child {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        width: 400px;
        height: 600px;
        position: absolute;
        overflow: hidden;
        -webkit-transform: translate3d(0px, 0px, 0.02px);
        -moz-transform: translate3d(0px, 0px, 0.02px);
        -ms-transform: translate3d(0px, 0px, 0.02px);
        -o-transform: translate3d(0px, 0px, 0.02px);
        transform: translate3d(0px, 0px, 0.02px);
        padding: 30px;
        padding-left: 40px;
        padding-bottom: 80px;
        border-left: 2px solid #000;
      }

      /* Back of a page */
      .book > div > div:last-child {
        background-color: white;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        width: 400px;
        height: 600px;
        position: absolute;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        overflow: hidden;
        padding: 30px;
        padding-right: 40px;
        padding-bottom: 80px;
        border-right: 2px solid #000;
      }

      /* covers */
      .book > div:first-child > div:first-child, .book > div:last-child > div:last-child {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #8C9CCC 0%, #080f40 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#8C9CCC), color-stop(100%,#080f40)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #8C9CCC 0%,#080f40 100%); /* IE10+ */
        background: linear-gradient(135deg,  #8C9CCC 0%,#080f40 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C9CCC', endColorstr='#080f40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: #000;
        border: 2px solid #000;
        margin-left: -1px;
        margin-top: -1px;
      }

      h1 {
        margin-top: 200px;
        font-family: Cochin, sans-serif;
      }

      .book-pages p {
        text-align: left;
      }
    </style>

  </head>
  <body>

    <div id="myBook">
      <div class="book">

        <div>
          <div>
            <h1>Level 1 Sight Words</h1>
          </div>
          <div>
            <h1>By Moms Who Teach</h1>
          </div>
        </div>
        
        <!-- <div>
          <div>
            <h2>Copy-pasted from <a href="http://www.gutenberg.org/ebooks/2148">Project Gutenberg</a></h2>
          </div> -->
          <div>
            <p>This page intentionally left blank.</p>
          </div>
        </div>

        <div>
          <div class="book-pages">
<h2>
    A DESCENT INTO THE MAELSTRÖM.
<!-- </h2>
</h2>
<p>
<div id="2">
 nose
</div>
</p>

<p>
<div id="3">
  boy
</div>
</p>

<p>
<div id="4">
  girl
</div>
</p>

<p>
<div id="5">
  hello
</div> -->

<p style="font-family:monospace;font-size:small;">
  The ways of God in Nature, as in Providence, are not as our
  ways;  nor are the models that we frame any way commensurate to the
  vastness, profundity, and unsearchableness of His works, which have
  a depth in them greater than the well of Democritus.
<br><br>
  Joseph Glanville.
</p>
<p>
WE had now reached the summit of the loftiest crag. For some minutes the
old man seemed too much exhausted to speak.
</p>
<p>
"Not long ago," said he at length, "and I could have guided you on this
route as well as the youngest of my sons; but, about three years past,
there happened to me an event such as never happened to mortal man&mdash;or
at least such as no man ever survived to tell of&mdash;and the six hours of
deadly terror which I then endured have broken me up body and soul. You
suppose me a <i>very</i> old man&mdash;but I am not. It took less than a single
day to change these hairs from a jetty black to white, to weaken
my limbs, and to unstring my nerves, so that I tremble at the least
exertion, and am frightened at a shadow. Do you know I can scarcely look
over this little cliff without getting giddy?"
</p>
</div>
<div class="book-pages">
<p>
The "little cliff," upon whose edge he had so carelessly thrown himself
down to rest that the weightier portion of his body hung over it, while
he was only kept from falling by the tenure of his elbow on its extreme
and slippery edge&mdash;this "little cliff" arose, a sheer unobstructed
precipice of black shining rock, some fifteen or sixteen hundred feet
from the world of crags beneath us. Nothing would have tempted me to
within half a dozen yards of its brink. In truth so deeply was I excited
by the perilous position of my companion, that I fell at full length
upon the ground, clung to the shrubs around me, and dared not even
glance upward at the sky&mdash;while I struggled in vain to divest myself of
the idea that the very foundations of the mountain were in danger from
the fury of the winds. It was long before I could reason myself into
sufficient courage to sit up and look out into the distance.
</p>

</div>
<div class="book-pages">
<h1>To be continued...</h1>
</div>
</div>

      </div>
    </div>


    <script type="text/javascript" src="book.js">
    </script>

  </body>
</html>

<input id="text">
<button onclick="talk()">Talk It!</button>
<button onclick="listen()">Voice</button>
<br/>
<p id="status" style="color: red"></p>

<script>
	var speaker = new RobotSpeaker();
    var listener = new AudioListener();
	
   var speaker; 
	try{
		speaker	= new RobotSpeaker();
	}
	catch(ex){
		speaker = null;
		document.getElementById("status").innerHTML = ex;
	}
    var listener; 
	try{
		listener = new AudioListener();
	}
	catch(ex){
		listener = null;
		document.getElementById("status").innerHTML = ex;
	}
	
    function talk() {
		if(speaker){
			speaker.speak("en", document.getElementById("text").value);
		}
    }

    

    function listen() {
		if(listener){
			listener.listen("en", function(text) {
        var test = document.getElementsById("2").innerHTML;
				document.getElementById("text").value = text;
        if (test == text) {
          alert ("Great Job Steph!");
        };

			});
		}
    }


    // var listener;
    //  listener = :attempted_phrase
    //   function  read 
    //   	while :attempted_phrase == :phrase
    //   	 	flash[:notice]= "great job"
    //   }
    
</script>

