<div >
	<h1>Welcome <%= @teacher.fname %> <%= @teacher.lname %></h1>
</div>
<button type="button">
	<%=link_to('Add Story', new_story_path) %>
</button>
<button type="button">
	<%=link_to('View Story', story_path(params[:id])) %>
</button>