// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hi {
	margin: 0 auto;
	border: blue 2px solid;
	text-align: center;
	font-size: 30px;
	background-color: blue;
	width: 900px;
	height: 400px;	
	padding: 20px;
	border-spacing: 20px
}

.nose {
	margin: 0 auto;
	background-color: red;
	text-align: center;
	border: red 2px solid;
	font-size: 30px;
	width: 900px;
	height: 400px;
	padding: 20px;
}

.eyes {
	margin: 0 auto;
	background-color: green;
	text-align: center;
	border: green 2px solid;
	font-size: 30px;
	width: 900px;
	height: 400px;
	padding: 20px;
}

.ears {
	margin: 0 auto;
	background-color: yellow;
	text-align: center;
	border: yellow 2px solid;
	font-size: 30px;
	width: 900px;
	height: 400px;
	padding: 20px;
}

.boy {
	margin: 0 auto;
    background-color: red;
    text-align: center;
	border: red 2px solid;
	font-size: 30px;
	width: 900px;
	height: 400px;
	padding: 20px;
}