// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sign-in {
	background-image: url("http://www.globaltesol.com/images/homepage-slider/104658897.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
     height: 100%;
    
}



 #login {
     display: table; 
     margin-right: auto; 
     margin-left: auto;

}

